<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add motorcycle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <a th:href="@{/}" class="header text-dark">
            <h1 class="display-1 my-5">Motorcycle shop</h1>
        </a>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/motorcycles/showFormForAdd}">Add motorcycle</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" th:href="@{/}">Motorcycle shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                <span class="navbar-text mr-4 text-white" sec:authentication="name">Bob</span>
                <form class="form-inline my-2 my-lg-0" method="POST" th:action="@{/logout}">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </ul>
            <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                <a th:href="@{/login}"
                   class="btn btn-outline-light my-2 my-sm-0 mx-2">
                    Login
                </a>
            </ul>
        </div>
    </nav>

    <div class="container text-center mt-3">
        <p class="h3 my-3">Add motorcycle</p>
        <form action="#" th:action="@{/motorcycles/save}"
                         th:object="${motorcycle}" method="POST">
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{brand}"
                       class="form-control my-3 col-6 align-center" placeholder="Brand">
                <div class="col-3 text-danger my-3"
                     th:if="${#fields.hasErrors('brand')}"
                     th:errors="*{brand}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{model}"
                       class="form-control my-3 col-6 align-center" placeholder="Model">
                <div class="col-3 text-danger my-3"
                     th:if="${#fields.hasErrors('model')}"
                     th:errors="*{model}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{color}"
                       class="form-control my-3 col-6 align-center" placeholder="Color">
                <div class="col-3 text-danger my-3"
                     th:if="${#fields.hasErrors('color')}"
                     th:errors="*{color}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{type}"
                       class="form-control my-3 col-6 align-center" placeholder="Type">
                <div class="col-3 text-danger my-3"
                     th:if="${#fields.hasErrors('type')}"
                     th:errors="*{type}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{productionYear}"
                       class="form-control my-3 col-6 align-center" placeholder="Production Year">
                <div class="col-3 text-danger my-3"
                     th:if="${#fields.hasErrors('productionYear')}"
                     th:errors="*{productionYear}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{cylinders}"
                       class="form-control my-3 col-6 align-center" placeholder="Cylinders">
                <div class="col-3 text-danger my-3"
                     th:if="${#fields.hasErrors('cylinders')}"
                     th:errors="*{cylinders}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{engineCapacity}"
                       class="form-control my-3 col-6 align-center" placeholder="Engine Capacity">
                <div class="col-3 text-danger my-3"
                     th:if="${#fields.hasErrors('engineCapacity')}"
                     th:errors="*{engineCapacity}" ></div>
            </div>
            <button type="submit" class="btn btn-outline-info mb-2">Save motorcycle</button>
        </form>
    </div>
    <footer class="footer">
        <div class="container text-center">
            2020 &copy; Motorcycle shop
        </div>
    </footer>
</body>
</html>