<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dodaj ofertę</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container text-center">
        <a th:href="@{/}" class="header text-dark">
            <h1 class="display-4 my-5">Sklep motocyklowy</h1>
        </a>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/offers/showFormForAdd}">Dodaj ofertę</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" th:href="@{/}">Sklep motocyklowy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                <span class="navbar-text mr-4 text-white" sec:authentication="name">Bob</span>
                <a th:href="@{/user/panel}"
                   class="btn btn-outline-light my-2 my-sm-0 mx-2">
                    Panel użytkownika
                </a>
                <form class="form-inline my-2 my-lg-0" method="POST" th:action="@{/logout}">
                    <button class="btn btn-outline-light my-2 my-sm-0 mx-2" type="submit">Wyloguj</button>
                </form>
            </ul>
            <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                <a th:href="@{/login}"
                   class="btn btn-outline-light my-2 my-sm-0 mx-2">
                    Logowanie
                </a>
                <a th:href="@{/register}"
                   class="btn btn-outline-light my-2 my-sm-0 mx-2">
                    Rejestracja
                </a>
            </ul>
        </div>
    </nav>

    <div class="container text-center mt-3">
        <div class="row" th:if="${(param.state != null) and (param.state[0] == 'low_money')}">
            <div class="col-4"></div>
            <div class="col-4 text-danger">
                Nie możesz kupić tego motocykla, masz za mało pieniędzy!
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row" th:if="${(param.state != null) and (param.state[0] == 'same_user')}">
            <div class="col-4"></div>
            <div class="col-4 text-danger">
                Nie możesz kupić własnego motocykla!
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h3>Właściciel oferty:</h3>
                <span class="d-block" th:text="|${offer.owner.firstName} ${offer.owner.lastName}|"></span>
                <a th:href="@{/offer/showDetailsToBuy/{id}(id=${offer.id})}" class="btn btn-outline-success m-2" >Kup motocykl</a>
            </div>
            <div class="col-sm">
                <h3 th:text="|${offer.motorcycle.brand} ${offer.motorcycle.model}|"></h3>
                <p th:text="|Kolor: ${offer.motorcycle.color}|"></p>
                <p th:text="|Typ: ${offer.motorcycle.type}|"></p>
                <p th:text="|Rok produkcji: ${offer.motorcycle.productionYear}|"></p>
                <p th:text="|Cylindry: ${offer.motorcycle.cylinders}|"></p>
                <p th:text="|Pojemność silnika: ${offer.motorcycle.engineCapacity}|"></p>
                <h5 th:text="|Cena: ${offer.price}|"></h5>
            </div>
            <div class="col-sm">
                <img th:src="${offer.imageURLPath}" width="500" height="320">
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container text-center">
            2020 &copy; Sklep motocyklowy
        </div>
    </footer>

</body>
</html>