<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Sklep motocyklowy - strona główna</title>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container text-center mt-3">

        <div th:replace="fragments/fake-shop-message :: fake-shop-message"></div>

        <div th:each="offer : ${offers}" class="row my-3 border-bottom">
            <div class="col-sm">
                <h3>Właściciel oferty:</h3>
                <span class="d-block" th:text="|${offer.owner.firstName} ${offer.owner.lastName}|"></span>
                <a th:href="@{/offer/{id}(id=${offer.id})}" class="btn btn-outline-success m-2" >Przejdź do oferty</a>
            </div>
            <div class="col-sm">
                <h3 th:text="|${offer.motorcycle.brand} ${offer.motorcycle.model}|"></h3>
                <p th:text="|Kolor: ${offer.motorcycle.color}|"></p>
                <p th:text="|Typ: ${offer.motorcycle.type}|"></p>
                <p th:text="|Rok produkcji: ${offer.motorcycle.productionYear}|"></p>
                <p th:text="|Cylindry: ${offer.motorcycle.cylinders}|"></p>
                <p th:text="|Pojemność silnika: ${offer.motorcycle.engineCapacity}|"></p>
                <h5 th:text="|Cena: ${offer.price}|"></h5>
            </div>
            <div class="col-sm">
                <img th:src="${offer.imageURLPath}" width="376" height="235">
            </div>
        </div>
        <a th:href="@{/offers/showFormForAdd}"
            class="btn btn-outline-info m-3">
            Dodaj ofertę
        </a>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>