<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="fake-shop-message" class="my-4">
        <button type="button" class="btn btn-outline-danger btn-lg" data-toggle="collapse" data-target="#message">Uwaga, ważna informacja o sklepie!</button>
        <h3 id="message" class="collapse show text-danger">
            Wszystkie przedstawione oferty, dane osobowe, ceny, motocykle są nieprawdziwe. Sklep nie jest prawdziwy,
            jego celem jest pokazanie umiejętności programistycznych, a nie przedstawienie rzeczywistych ofert.
        </h3>
    </div>
</body>
</html>