<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Zaloguj się do sklepu</title>
</head>
<body>

    <div class="container text-center">
        <a th:href="@{/}" class="header text-dark">
            <h1 class="display-1 my-5">Sklep motocyklowy</h1>
        </a>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/motorcycles/showFormForAdd}">Dodaj ofertę</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" th:href="@{/}">Sklep motocyklowy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                <span class="navbar-text mr-4 text-white" sec:authentication="name">Bob</span>
                <a th:href="@{/user/panel}"
                   class="btn btn-outline-light my-2 my-sm-0 mx-2">
                    Panel użytkownika
                </a>
                <form class="form-inline my-2 my-lg-0" method="POST" th:action="@{/logout}">
                    <button class="btn btn-outline-light my-2 my-sm-0 mx-2" type="submit">Wyloguj</button>
                </form>
            </ul>
            <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                <a th:href="@{/login}"
                   class="btn btn-outline-light my-2 my-sm-0 mx-2">
                    Logowanie
                </a>
                <a th:href="@{/register}"
                   class="btn btn-outline-light my-2 my-sm-0 mx-2">
                    Rejestracja
                </a>
            </ul>
        </div>
    </nav>

    <div class="container text-center mt-3">
        <p class="h3 my-3">Logowanie</p>
        <div class="row" th:if="${param.error}">
            <div class="col-4"></div>
            <div class="col-4 text-danger">
                Logowanie nie powiodło się. Sprawdź login i hasło.
            </div>
            <div class="col-4"></div>
        </div>
        <form th:action="@{/authenticateUser}" method="POST">
            <div class="row">
                <div class="col-4"></div>
                <input type="text" id="username" name="username"
                       class="form-control my-2 col-4 align-center"
                       placeholder="Nazwa użytkownika">
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <input type="password" id="password" name="password"
                       class="form-control my-2 col-4 align-center"
                       placeholder="Hasło">
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <input type="submit"
                       class="btn btn-info my-2 col-2 align-center"
                       value="Zaloguj">
                <div class="col-5"></div>
            </div>
        </form>
    </div>
    <footer class="footer">
        <div class="container text-center">
            2020 &copy; Sklep motocyklowy
        </div>
    </footer>
</body>
</html>