<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Motorcycle shop login page</title>
</head>
<body>

    <div class="container text-center">
        <a th:href="@{/}" class="header text-dark">
            <h1 class="display-1 my-5">Motorcycle shop</h1>
        </a>
        <p class="h3 my-3">Sign in</p>
        <div class="row" th:if="${param.error}">
            <div class="col-4"></div>
            <div class="col-4 text-danger">
                Login unsuccessful. Please check you username and password.
            </div>
            <div class="col-4"></div>
        </div>
        <form th:action="@{/login}" method="POST">
            <div class="row">
                <div class="col-4"></div>
                <input type="text" id="username" name="username"
                       class="form-control my-2 col-4 align-center"
                       placeholder="Username">
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <input type="text" id="password" name="password"
                       class="form-control my-2 col-4 align-center"
                       placeholder="Password">
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <input type="submit"
                       class="btn btn-info my-2 col-2 align-center"
                       value="Login">
                <div class="col-5"></div>
            </div>
        </form>
    </div>
    <footer class="footer">
        <div class="container text-center">
            2020 &copy; Motorcycle shop
        </div>
    </footer>
</body>
</html>