<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Zaloguj się do sklepu</title>
</head>
<body>

    <div th:insert="fragments/header :: header"></div>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container text-center mt-3">

        <div th:replace="fragments/fake-shop-message :: fake-shop-message"></div>

        <p class="h3 my-3">Logowanie</p>
        <div class="row" th:if="${param.error}">
            <div class="col-4"></div>
            <div class="col-4 text-danger">
                Logowanie nie powiodło się. Sprawdź login i hasło.
            </div>
            <div class="col-4"></div>
        </div>
        <form th:action="@{/authenticateUser}" method="POST">
            <div class="row">
                <div class="col-4"></div>
                <input type="text" id="username" name="username"
                       class="form-control my-2 col-4 align-center"
                       placeholder="Nazwa użytkownika">
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <input type="password" id="password" name="password"
                       class="form-control my-2 col-4 align-center"
                       placeholder="Hasło">
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <input type="submit"
                       class="btn btn-info my-2 col-2 align-center"
                       value="Zaloguj">
                <div class="col-5"></div>
            </div>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>