<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Rejestracja</title>
</head>
<body>

    <div th:insert="fragments/header :: header"></div>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container text-center mt-3">
        <p class="h3 my-3">Rejestracja</p>
        <form action="#" th:action="@{/register}"
              th:object="${formUser}" method="POST">
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{userName}"
                       class="form-control my-2 col-6 align-center" placeholder="Nazwa użytkownika">
                <div class="col-3 text-danger my-2"
                     th:if="${#fields.hasErrors('userName')}"
                     th:errors="*{userName}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="password" th:field="*{password}"
                       class="form-control my-2 col-6 align-center" placeholder="Hasło">
                <div class="col-3 text-danger my-2"
                     th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="password" th:field="*{matchingPassword}"
                       class="form-control my-2 col-6 align-center" placeholder="Powtórzone hasło">
                <div class="col-3 text-danger my-2"
                     th:if="${#fields.hasErrors('matchingPassword')}"
                     th:errors="*{matchingPassword}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{firstName}"
                       class="form-control my-2 col-6 align-center" placeholder="Imię">
                <div class="col-3 text-danger my-2"
                     th:if="${#fields.hasErrors('firstName')}"
                     th:errors="*{firstName}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{lastName}"
                       class="form-control my-2 col-6 align-center" placeholder="Nazwisko">
                <div class="col-3 text-danger my-2"
                     th:if="${#fields.hasErrors('lastName')}"
                     th:errors="*{lastName}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{email}"
                       class="form-control my-2 col-6 align-center" placeholder="Email">
                <div class="col-3 text-danger my-2"
                     th:if="${#fields.hasErrors('email')}"
                     th:errors="*{email}" ></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <input type="text" th:field="*{phoneNumber}"
                       class="form-control my-2 col-6 align-center" placeholder="Numer telefonu">
                <div class="col-3 text-danger my-2"
                     th:if="${#fields.hasErrors('phoneNumber')}"
                     th:errors="*{phoneNumber}" ></div>
            </div>
            <button type="submit" class="btn btn-outline-info mb-2">Zarejestruj</button>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>